apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "wiki-chart.fullname" . }}-prometheus
  labels:
    {{- include "wiki-chart.labels" . | nindent 4 }}
data:
  prometheus.yml: |
    global:
      scrape_interval: 5s
    scrape_configs:
      - job_name: "fastapi"
        metrics_path: /metrics
        static_configs:
          - targets:
              - "{{ include "wiki-chart.fullname" . }}-fastapi:{{ .Values.fastapi.servicePort }}"
