apiVersion: v1
kind: Service
metadata:
  name: {{ include "wiki-chart.fullname" . }}-prometheus
  labels:
    {{- include "wiki-chart.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  selector:
    app: {{ include "wiki-chart.fullname" . }}-prometheus
  ports:
    - port: 9090
      targetPort: 9090
